.chamadas-form-container {
  padding: 70px 10px;
}
.chamadas-form-header {
  background-color: steelblue;
}
.chamadas-form-header,
.chamadas-form-buttons,
.chamadas-form-info,
.chamadas-form-content {
  border-left: 1px solid #90a4ae;
  border-right: 1px solid #90a4ae;
  border-bottom: 1px solid #90a4ae;
  padding: 2px 20px;
}
.chamadas-form-header-text {
  font-size: 1.4rem;
  color: white;
}
.chamadas-form-buttons {
  display: flex;
  flex-direction: row;
  background-color: blanchedalmond;
  padding-top: 15px;
  padding-bottom: 13px;
}
.chamadas-form-button-sair {
  border: 1px solid rgb(206, 206, 206);
  width: 160px;
  padding: 5px 0;
  border-radius: 5px;
  box-shadow: 0 3px 3px #000;
  background-color: #78909c;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 4px;
}
.chamadas-form-button {
  border: 1px solid rgb(206, 206, 206);
  width: 160px;
  padding: 5px 0;
  border-radius: 5px;
  box-shadow: 0 3px 3px #000;
  background-color: #4682b4;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 4px;
}
.chamadas-form-button:hover,
.chamadas-form-button-sair:hover {
  background-color: navy;
}

.chamadas-form-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.chamadas-form-info-col,
.chamadas-form-input-group {
  margin: 5px 30px 15px 0;
  display: flex;
  flex-direction: column;
}
.chamadas-form-content .chamadas-form-label {
  font-size: 0.9rem;
  font-weight: bold;
  color: blue;
  margin-bottom: 0;
}
.chamadas-form-content .chamadas-form-input {
  padding: 5px;
  background-color: #fff;
  /* border-color: #cccccc; */
  border-color: grey;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}
.chamadas-form-content .chamadas-form-input:hover {
  border-width: 1px;
  border-color: black;
}
.chamadas-form-content .chamadas-form-input:focus {
  border-width: 3px;
  border-color: #2684ff;
}

#chamadas-form td, #chamadas-form th {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.tool-tip {
  font-size: 0.8rem;
  background-color: #00006e !important;
  border-radius: 10px;
}